
body {
    font-family: Roboto, sans-serif;
    color:#434455;
    background:#FFFFFF
    
}


.head-page {
font-family: "Raleway", sans-serif;
}




.logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-title {
    color: #2e2f42;
    line-height: 1.17;

}

.menu-link:hover {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu, .menu-contact, .team-cards, .presents-cards {
    list-style-type: none;
}

.menu-contact {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-contact-link{
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-contact-link:hover,
.menu-contact-link:focus  {
    color:#404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.5;
    letter-spacing: 0.02em;
}

.main-page{
    background:  #2E2F42;
}


.main-text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.main-button {

    
    color: #FFF;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.main-button {
    border-radius: 4px;
    background: #4D5AE5;
   
}

.main-button:hover,
.main-button:focus{
    border-radius: 4px;
    background: #404BBF;
   
}
        



 button {
      cursor: pointer;
  }


   


.menu-advantages-item {
    color: #2E2F42;
    font-family: Roboto,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.06;
   
}

.text-menu-advantages{
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link, .menu-contact-link, .logo-link {
    text-decoration: none;
}

.team-list {
background: #F4F4FD;
flex-shrink: 0;
}

.team-names {
    color:NAVY-BLUE, #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}




.job-title {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing:0.02em;
}

.job-title-top{
    background:  #FFF;
       
}

.team-list-item {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:0.02em;
    text-transform: capitalize;
}

.top-text{
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02;
     text-transform: capitalize;
}


.presents-cards-text {
    border: 1px solid CORNFLOWER, #E7E9FC;
    background: #FFF;
}

.secondary-text {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.menu:hover,
.menu:focus {
    color: #404bbf;
    padding-bottom: 0px;
    justify-content: center;
    flex-shrink: 0;
}




.menu-contact-link:hover,
.menu-contact-link:focus {
    color: OCEAN, #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.last.page {
    background-color:#2E2F42;
}

.