
body {
    font-family:Roboto, sans-serif;
    color:#434455;
    background:#FFFFFF
    
}


.head-page {
font-family: "Raleway", sans-serif;
}




.logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-title {
    color: #2e2f42;
    line-height: 1.17;

}

.menu-link:hover {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.menu, .menu-contact, .team-cards, .presents-cards {
    list-style-type: none;
}

.menu-contact {
    color:SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-text {
    color: WHITE, #FFF;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background: NAVY-BLUE, #2E2F42;

    
}

.main-button {

    background: IRIS, #4D5AE5;
    color: WHITE, #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

 button {
      cursor: pointer;
  }


   


.menu-advantages-item {
    color: NAVY-BLUE, #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.06;
   
}

.menu-link, .menu-contact-link, .logo-link {
    text-decoration: none;
}

.team-list {
background: CLOUD, #F4F4FD;
flex-shrink: 0;
}

.team-names {
    color:NAVY-BLUE, #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}




.job-title {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing:0.02em;
}

.team-list-item {
    color: NAVY-BLUE, #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.presents-cards-text {
    border: 1px solid CORNFLOWER, #E7E9FC;
    background: var(--WHITE, #FFF);
}

.secondary-text {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.menu:hover,
.menu:focus {
    color: #404bbf;
    padding-bottom: 0px;
    justify-content: center;
    flex-shrink: 0;
}




.menu-contact-link:hover,
.menu-contact-link:focus {
    color: OCEAN, #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.last.page {
    background-color:#2E2F42;
}

.